<!-- page content -->
<div class="right_col" role="main">
  <div class="clearfix"></div>
  <div class="">
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_title">
          <h2>All Pay History</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <%= render "table", pay_histories: @pay_histories %>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- /page content -->

<%= render "javascript" %>
