<!-- page content -->
<div class="right_col" role="main">
  <div class="clearfix"></div>
  <div class="">
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Pay</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <%= render "form" %>
          </div>
        </div>

        <div class="x_panel detail hidden" style="height: 100%">
          <div class="x_title">
            <h2>You have <span style="color: red" class="quantity">69</span> request need to pay  -  Total price: <span style="color: red" class="pricee">6922</span></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content table-requests">

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<%= render "javascript" %>

<!-- /page content -->
