.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
	width: 100%;
	margin-right: 10px;
}

.login-wrapper {
	right: 0px;
	margin: 0px auto;
	margin-top: 5%;
	max-width: 350px;
	position: relative;
}